html{
    overflow-x: hidden;
}
header, footer{
    background-color: #c0e7ae;
}
/* ---------page index----------------- */
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-item a{
    background-color: none;
}
.mybuton{
    padding: 5px;
    color: #41865C;
    border: solid 1px #8fb77d;
    text-decoration: none;
}
.services{
    background-color: #41865C;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 3px 3px rgb(156, 160, 156);
}
img{
    overflow: hidden;
}
.fondu {
    cursor: pointer;
    height: 250px;
    position: relative;
    overflow: hidden;
    width: max-content;
    text-align: center;
    box-shadow: 2px 2px 5px 5px rgb(156, 160, 156);
}
.grid-portraits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.grid-portraits img{
    height: 250px;
    object-fit: cover;
}
.grid-paysages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.grid-paysages img{
    width: 300px;
    height: 250px;
    object-fit: cover;
} 
.fondu .fadedbox {
    background-color: #363636;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 120px 20px;
}
.fondu:hover .fadedbox {
    opacity: 0.8;
}
.fondu .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.fondu .title {
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.fondu:hover .title,
.fondu:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

/* --------page realisation-------
--------------portrait------------ 
*/
.bas-portrait, .haut-portrait{
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0;
}
.fondu-portrait{
    margin-top: auto;
    margin-left: auto;
    min-width: 200px;
    height: 300px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.fondu-portrait img{
    transition: opacity 2s linear;
}
.fondu-portrait img.haut-portrait:hover{
    opacity: 0;
} 
a{
    color: black;
}

/* -----paysage----- */
.bas-paysage, .haut-paysage{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 0;
    object-fit: fill;
}
.fondu-paysage{
    margin-top: auto;  
    margin-left: auto;  
    min-width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;

}
.fondu-paysage img{
    transition: opacity 2s linear;
}
.fondu-paysage img.haut-paysage:hover{
    opacity: 0;
} 
.ombre{
    box-shadow: 3px 3px 3px 3px rgb(156, 160, 156);
}
.contenant{
    width: 100%;
    height: 100%;
}

/* --------------media--------- */
@media screen and (max-width: 250px) {
    .grid-paysages {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .grid-portraits {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}
/* @media screen and (max-width: 1250px) {
    .grid-paysages {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .grid-portraits {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
} */

/* -----bonus---------- */


